{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/reset.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/navbar.css')) }}">

{% endblock %}

{% block body %}
    {{ include('inc/navbar.html.twig') }}
    <div class="wrapper">
        <!--main container start-->
        <div class="main-container">
            {% for message in app.flashes('info') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="section">
                    <div class="row">
                        <div class="form-card">
                            <div class="container">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1>Change <b>password</b></h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-body">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                                    <div class="form-group">
                                        {{ form_row(form.oldPassword, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form.oldPassword) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_row(form.plainPassword.first, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form.plainPassword) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(form.plainPassword.second, {'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(form.plainPassword) }}
                                    </div>

                                    {{ form_widget(form) }}
                                    <button class="btn btn-success float-right">{{ button_label|default('Save') }}</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            $('.sub-btn').click(function (){
                $(this).next('.sub-menu').slideToggle();
            });
        });
    </script>

{% endblock %}

