{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/addgrade.css')) }}">

{% endblock %}

{% block body %}

<div class="container">
    <div class="header">
        <h2><b>Add Grade</b></h2>
    </div>
    <div class="form-container">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_row(form.category, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(form) }}
        </div>
        <div class="form-group">
            {{ form_row(form.grade, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(form) }}
        </div>
        {{ form_widget(form) }}
        <a href="#" class="btn btn-default"><span>Close</span></a></a>
        <button class="btn btn-success float-right">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function (){
            $('.sub-btn').click(function (){
                $(this).next('.sub-menu').slideToggle();
            });
        });
    </script>


{% endblock %}
