{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/showstudents.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/navbar.css')) }}">

{% endblock %}

{% block body %}
    {{ include('inc/navbar.html.twig') }}
    <div class="wrapper">
        <!--main container start-->
        <div class="main-container">
            <div class="section">

                {% if app.request.method == 'POST' %}
                <div class="row">
                    <a href="{{ path('show_students')}}" class="btn btn-info float-left" ><i class="fas fa-undo-alt"></i><span> Back</span></a>
                </div>
                <div class="row">
                    <div class="col m6 offset-m3">
                        {% if students |length ==0 %}
                        <h1>No students for the group!</h1>

                        {% else %}
                            <div class="row">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h1><b>Group {{ groupName }}</b></h1>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="{{ path('download_students_data') }}" class="btn btn-info float-right">Download PDF</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h2>Student <b>List</b></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="table-wrapper">
                                    <table class="table table-striped table-hover" id="myTable" data-filter-control="true" data-show-search-clear-button="true">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Email</th>
                                        </tr>

                                        </thead>

                                        <tbody>
                                        {% for student in students %}
                                        <tr>
                                            <td data-label="Id">{{ student.id }}</td>
                                            <td data-label="Firstname">{{ student.firstname }}</td>
                                            <td data-label="Lastname">{{ student.lastname }}</td>
                                            <td data-label="Email">{{ student.email }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="form-card">
                        <div class="container">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1>Select a <b>group</b></h1>
                                    </div>
                                </div>
                            </div>

                            <div class="inline">
                                {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
                                <div class="form-group col-sm-12">{{ form_row(form.group, {'attr':{'class':'form-control'}}) }}</div>
                                {{ form_widget(form) }}
                                <button class="btn btn-success float-right">{{ button_label|default('Save') }}</button>

                                {{ form_end(form) }}
                            </div>


                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            $('.sub-btn').click(function (){
                $(this).next('.sub-menu').slideToggle();
            });
        });
    </script>

{% endblock %}

