{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/navbar.css')) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/showstudents.css')) }}">
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #666;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>

{% endblock %}

{% block body %}
    {{ include('inc/navbar.html.twig') }}
    <div class="wrapper">
        <!--main container start-->
        <div class="main-container">
            <div class="section">

                {% if app.request.method == 'POST' %}
                <div class="row">
                    <a href="{{ path('show_students')}}" class="btn btn-info float-left" ><i class="fas fa-undo-alt"></i><span> Back</span></a>
                </div>
                <div class="row">
                    <div class="col m6 offset-m3">
                        {% if students |length ==0 %}
                        <h1>No students for the group!</h1>

                        {% else %}

                            <div class="row">
                                <div class="table">
                                    <div class="table-body">
                                        <div class="row">
                                            <div class="table-title">
                                                <div class="col-sm-12">
                                                    <h1>Students list</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div>id</div>
                                            <div>Firstname</div>
                                            <div>Lastname</div>
                                            <div>Email</div>
                                            <div>Group</div>
                                        </div>
                                        {% for student in students %}
                                        <div class="table-row">
                                            <div>{{ student.id }}</div>
                                            <div>{{ student.firstname }}</div>
                                            <div>{{ student.lastname }}</div>
                                            <div>{{ student.email }}</div>
                                            <div>{{ student.group_name }}</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-xs4">
                                        <a href="{{ path('download_students_data') }}" class="btn blue">Download PDF</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="form-card">
                        <div class="container">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1>Select a group </h1>
                                    </div>
                                </div>
                            </div>

                            <div class="inline">
                                {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
                                <div class="form-group col-sm-12">{{ form_row(form.group, {'attr':{'class':'form-control'}}) }}</div>
                                {{ form_widget(form) }}
                                <button class="btn btn-success float-right">{{ button_label|default('Save') }}</button>

                                {{ form_end(form) }}
                            </div>


                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            $('.sub-btn').click(function (){
                $(this).next('.sub-menu').slideToggle();
            });
        });
    </script>

{% endblock %}

