{% block title %}School Management System{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/index.css')) }}">
    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <style>
            #more {display: none;}
        </style>
        <title>School Management System</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    </head>
    <body>

    <div class="wrapper">
        <div class="header">
            <div class="header-menu">
                <div class="title">eSchool</div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <li><a href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="#"><i class="fas fa-bell"></i></a></li>
                    {% if app.user %}
                        <li><a href="{{ path('app_teacherLogout') }}"><i class="fas fa-power-off"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    <!--sidebar start -->
    <div class="sidebar">
        <div class="sidebar-menu">
            <center class="profile" style="text-align: center;">
                <img src="{{ absolute_url(asset('img/profile1.jpg')) }}" alt="">
                <p>{{ app.user.firstname }} {{ app.user.lastname }}</p>
                <p>{{ app.user.email }}</p>
            </center>
            <li class="item">
                <a href="#" class="menu-btn">
                    <i class="fas fa-desktop"></i><span> Dashboard</span>
                </a>
            </li>
            <li class="item" id="profile">
                <a href="#profile" class="menu-btn">
                    <i class="fas fa-user-circle"></i><span>Profile<i class="fas fa-chevron-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#"><i class="fas fa-image"></i><span>Picture</span></a>
                    <a href="#"><i class="fas fa-address-card"></i><span>Info</span></a>
                </div>
            </li>
            <li class="item" id="messages">
                <a href="#messages" class="menu-btn">
                    <i class="fas fa-envelope"></i><span>Marks<i class="fas fa-chevron-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#"><i class="fas fa-envelope"></i><span>New</span></a>
                    <a href="#"><i class="fas fa-envelope-square"></i><span>Sent</span></a>
                    <a href="#"><i class="fas fa-exclamation-circle"></i><span>Spam</span></a>
                </div>
            </li>
            <li class="item" id="settings">
                <a href="#settings" class="menu-btn">
                    <i class="fas fa-cog"></i><span>Library<i class="fas fa-chevron-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#"><i class="fas fa-lock"></i><span>Password</span></a>
                    <a href="#"><i class="fas fa-language"></i><span>Language</span></a>
                </div>
            </li>
            <li class="item">
                <a href="#" class="menu-btn">
                    <i class="fas fa-info-circle"></i><span>Information</span>
                </a>
            </li>
        </div>
    </div>
    <!--main container start-->
    <div class="main-container">
        <div class="wrapper">
            <div class="box">
                <div class="box__img">
                    <img src="{{ absolute_url(asset('img/notice.png')) }}">
                </div>
                <div class="box__info">

                    <span>1st October 2019</span>
                    <h4>Odwolanie zajec w dniu jutrzejszym</h4>
                    <p>Z powodu obecnej sytuacji epidemiologiczne wszstkie zajecia w dniu jutrzejszym zostają odwolane.
                        Z powodu obecnej sytuacji epidemiologiczne wszstkie zajecia w dniu jutrzejszym zostają odwolane.</p>
                    <i>-Sameone</i>
                    <a href="javascript:void();" class="readmore-btn">Read more</a>
                </div>
            </div>

            <div class="box">
                <div class="box__img">
                    <img src="{{ absolute_url(asset('img/notice.png')) }}">
                </div>
                <div class="box__info">
                    <span>1st October 2019</span>
                    <h4>Odwolanie zajec w dniu jutrzejszym</h4>
                    <p>Z powodu obecnej sytuacji epidemiologiczne wszstkie zajecia</p>
                    <i>-Sameone</i>
                    <a href="javascript:void();" class="readmore-btn">Read more</a>
                </div>

            </div>
        </div>
    </div>

    </div>

    <script type="text/javascript">
    $(document).ready(function(){
        $(".sidebar-btn").on('click', function (){
            $(".wrapper").toggleClass("collapse");
        });
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script>
        $(".readmore-btn").on('click', function(){
            $(this).parent().toggleClass("showContent");

            var replaceText = $(this).parent().hasClass("showContent") ? "Read Less": "Read More";
            $(this).text(replaceText);
        });
    </script>
    </body>
    </html>



{% endblock %}