{% block title %}School Management System{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/index.css')) }}">
    <html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>School Management System</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    </head>
    <body>

    <input type="checkbox" id="menu">

    <div class="wrapper">
        <div class="header">
            <div class="header-menu">
                <div class="title">eSchool</div>
                <label for ="menu" class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}"><i class="fas fa-power-off"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="side-menu">
            <center>
                <img src="{{ absolute_url(asset('img/profile1.jpg')) }}" alt="">
                <br></br>
                <h2>{{ app.user.firstname }} {{ app.user.lastname }}</h2>
            </center>
            <br>
            <a href="#"><i class="fa fa-home"></i><span>Home</span></a>
            <a href="#"><i class="fa fa-user"></i><span>Profile</span></a>
            <a href="#"><i class="fas fa-graduation-cap"></i></i><span>Marks</span></a>
            <a href="#"><i class="fa fa-comment"></i><span>Messages</span></a>
            <a href="#"><i class="fa fa-lock"></i><span>Password</span></a>

        </div>

            <!--main container start-->
            <div class="main-container">
                <div class="wrapper">
                    {% for article in articles %}
                        <div class="box">
                            <div class="box__img">
                                <img src="{{ absolute_url(asset('img/notice.png')) }}">
                            </div>
                            <div class="box__info">
                                <span>{{ article.created|date('Y-m-d H:i:s')}}</span>
                                <h4>{{ article.title }}</h4>
                                <p>{{ article.body }}</p>
                                <i>- {{ article.firstname }} {{ article.lastname }}</i>
                                <a href="javascript:void();" class="readmore-btn">Read more</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        <script>
            $(".readmore-btn").on('click', function(){
                $(this).parent().toggleClass("showContent");

                var replaceText = $(this).parent().hasClass("showContent") ? "Read Less": "Read More";
                $(this).text(replaceText);
            });
        </script>
    </body>
    </html>



{% endblock %}