{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/navbar_homepage.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/tHomepage.css')) }}">

{% endblock %}

{% block body %}
    {{ include('inc/navbar.html.twig') }}

    <div class="wrapper">
        <!--main container start-->
        <div class="main-container" id="home">
            <div class="banner-image">
                <div class="banner_content">
                    <h1>Walcome to Virtual class register<br/>

                    </h1>
                    <h1>2020/2021 school year</h1>
                </div>
            </div>
            <div class="about" id="about">
                <h1 class="title">Class status</h1>
                <div class="cards">
                    <div class="card">
                        <div class="box">
                            <h1>{{ studentsNumber }}</h1>
                            <h3>Students</h3>
                        </div>
                        <div class="icon-case">
                            <img src ="{{ absolute_url(asset('img/graduated.png')) }}" alt="">
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>{{ groupsNumber }}</h1>
                            <h3>Groups</h3>
                        </div>
                        <div class="icon-case">
                            <img src ="{{ absolute_url(asset('img/group.png')) }}" alt="">
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>{{ subjectsNumber }}</h1>
                            <h3>Subjects</h3>
                        </div>
                        <div class="icon-case">
                            <img src ="{{ absolute_url(asset('img/presentation.png')) }}" alt="">
                        </div>
                    </div>
                </div>
            </div>


            <div class="ourteam" id="ourteam">
                <h1 class="title">Notice board</h1>
                <div class="ourteam_wrapper">
                        {% for article in articles %}
                        <div class="col-sm-6">
                            <div class="box">
                                <div class="box__img">
                                    <img src="{{ absolute_url(asset('img/notice.png')) }}">
                                </div>
                                <div class="box__info">
                                    <span>{{ article.created|date('Y-m-d H:i:s')}}</span>
                                    <h4>{{ article.title }}</h4>
                                    <p>{{ article.body }}</p>
                                    <i>- {{ article.firstname }} {{ article.lastname }}</i>
                                    <a href="javascript:void();" class="readmore-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
                <div class="btn"><a href="{{ path('all_notices')}}">See More</a></div>
            </div>



            <div class="footer">
                <a href="#">© 2021 eSchool e-learning platform</a>
            </div>


            <div class="arrow">
                <a href="#home"><img src="{{ absolute_url(asset('img/profile2.jpeg')) }}" alt="up_arrow"></a>
            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script>
        $(".readmore-btn").on('click', function(){
            $(this).parent().toggleClass("showContent");

            var replaceText = $(this).parent().hasClass("showContent") ? "Read Less": "Read More";
            $(this).text(replaceText);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function (){
            $('.sub-btn').click(function (){
                $(this).next('.sub-menu').slideToggle();
            });
        });
    </script>
{% endblock %}

