<input type="checkbox" id="menu">

<div class="wrapper">
    <div class="header">
        <div class="header-menu">
            <div class="title">eSchool</div>
            <label for ="menu" class="sidebar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                {% for locale in locales  %}

                {% if locale != app.request.locale %}
                <li><a href="{{ path('change_locale', {'locale': locale}) }}"><img src="{{ absolute_url(asset('img/translator/'~locale~'.png')) }}" alt="{{ locale }}"></a></li>

                {% endif %}{% endfor %}

                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}"><i class="fas fa-power-off"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="side-menu">
        <center>
            <img src="{{ absolute_url(asset('img/profile/teacher.jpg')) }}" alt="">
            <h2><b>{{ app.user.firstname }} {{ app.user.lastname }}</b></h2>
            <h4><b>{{ app.user.email }}</b></h4>
        </center>
        <br>
        <div class="item"><a href="{{ path('teacherHomepage')}}"><i class="fa fa-home"></i><span>{% trans %}Strona Główna{% endtrans %}</span></a></div>
        <div class="item">
            <a href="#" class="sub-btn"><i class="fa fa-comment"></i><span>{% trans %}Profil{% endtrans %}</span><i class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">
                <a href="{{ path('my_profile')}}" class="sub-item">{% trans %}Mój profil{% endtrans %}</a>
                <a href="{{ path('edit_profile')}}" class="sub-item">{% trans %}Edytuj profil{% endtrans %}</a>
            </div>
        </div>

        <div class="item">
            <a href="#" class="sub-btn"><i class="fas fa-graduation-cap"></i><span>{% trans %}Oceny{% endtrans %}</span><i class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">
                <a href="{{ path('grades')}}" class="sub-item">{% trans %}Oceny cząstkowe{% endtrans %}</a>
                <a href="{{ path('finalgrades')}}" class="sub-item">{% trans %}Oceny końcowe{% endtrans %}</a>
            </div>
        </div>

        <div class="item"><a href="{{ path('show_students')}}"><i class="fas fa-user-graduate"></i><span>{% trans %}Uczniowie{% endtrans %}</span></a></div>
        <div class="item">
            <a href="#" class="sub-btn"><i class="fa fa-comment"></i><span>{% trans %}Ogłoszenia{% endtrans %}</span><i class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">
                <a href="{{ path('new_notice')}}" class="sub-item">{% trans %}Dodaj ogłoszenie{% endtrans %}</a>
                <a href="{{ path('my_notice')}}" class="sub-item">{% trans %}Moje ogłoszenia{% endtrans %}</a>
                <a href="{{ path('all_notices')}}" class="sub-item">{% trans %}Wszystkie ogłoszenia{% endtrans %}</a>
            </div>
        </div>
        <div class="item">
            <a href="#" class="sub-btn"><i class="fa fa-comment"></i><span>{% trans %}Pliki{% endtrans %}</span><i class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">
                <a href="{{ path('add_file')}}" class="sub-item">{% trans %}Dodaj plik{% endtrans %}</a>
                <a href="{{ path('my_files') }}" class="sub-item">{% trans %}Moje pliki{% endtrans %}</a>
            </div>
        </div>
        <div class="item"><a href="{{ path('reset_password')}}"><i class="fa fa-lock"></i><span>{% trans %}Hasło{% endtrans %}</span></a></div>

    </div>
</div>
